<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mf.project.mf.admin.mapper.AdminMovieFightMapper">

	<insert id="insert" parameterType="java.util.HashMap">
		insert into movie_Fight(mKey1,mKey2,mfTitle,mfVDate,mfComment)
		values(
			#{mKey1},
			#{mKey2},
			#{mfTitle},
			#{mfVDate},
			#{mfComment}
		)
	</insert>
	
	<update id="update" parameterType="java.util.HashMap">
		UPDATE
			movie_Fight
		SET
			mfTitle=#{mfTitle},
			mfComment=#{mfComment}
		WHERE
			mfKey=#{mfKey}
	</update>
	
	<delete id="deleteMF" parameterType="int">
		DELETE FROM
			movie_Fight
		WHERE
			mfKey=#{mfKey}
	</delete>
	
	<delete id="deleteVote" parameterType="int">
		DELETE FROM
			vote
		WHERE
			mfKey=#{mfKey}
	</delete>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM
			mf_Reply
		WHERE
			mfKey=#{mfKey}
	</delete>
	
	<select id="search" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT 
			* 
		FROM
			(
			SELECT 
				@ROWNUM := @ROWNUM + 1 AS rnum, mo.* 
			FROM 
				(
				SELECT 
					movie.*,file.fileModify 
				FROM 
					movie, file 
				WHERE
				 	<if test="searchWord != null">
						mTitle LIKE concat('%',#{searchWord},'%') 
						AND
					</if>
					movie.mKey = file.mKey 
				ORDER BY 
					movie.mKey DESC
				) mo,(SELECT @ROWNUM := 0) R
			) A
		WHERE 
			A.rnum &gt;= #{start}
			AND 
			A.rnum &lt;= #{end}
	</select>
	
	<select id="count" resultType="int">
		SELECT
			COUNT(mKey)
		FROM
			movie
		<if test="searchWord != null">
			WHERE
				mTitle LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select>
</mapper>